[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=agricultural_vehicles
Icon=/home/user/ros/agricultural_vehicles/src/start/img/ros_icon.png

Exec=bash -ic '/home/user/ros/agricultural_vehicles/src/start/src/agricultural_vehicles.bash;$SHELL'
