[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=GPS_pkg_GPS
Icon=/home/user/ros/agricultural_vehicles/src/start/img/ros_icon.png

Exec=bash -c 'source /opt/ros/melodic/setup.bash;cd ~/ros/agricultural_vehicles;source devel/setup.bash;rosrun GPS_pkg GPS_ /dev/ttyUSB2 38400;$SHELL'
