[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=move_robot_test
Icon=/home/user/ros/agricultural_vehicles/src/start/img/ros_icon.png

Exec=bash -c 'source /opt/ros/melodic/setup.bash;cd ~/ros/agricultural_vehicles;source devel/setup.bash;rosrun move_robot move_robot /dev/kevin_arduino_nano 115200$SHELL'
